/**********************************************
*** © Linguagens Script > DEIS > ISEC > IPC 
*** Jogo de Memória em React
*** Estilos para top-10-modal.component.jsx 
**********************************************/
#modal-top10 .info div:nth-child(even) {
  background: rgba(224, 221, 221);
}
#modal-top10 .info div:nth-child(odd) {
  background: white;
}
#modal-top10 .info p {
  padding: 5px;
  color: black;
}
#modal-top10 .info div:first-child {
  background-color: #c0bbbb;
  font-weight: bolder;
}
#modal-top10 .info div p:first-child {
  text-align: right;
}

#difficultyButtons button {
  padding: 5px;
  min-width: 80px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 1);
}
#difficultyButtons button:first-child {
  border-radius: 5px 0px 0px 5px;
}
#difficultyButtons button:last-child {
  border-radius: 0px 5px 5px 0px;
}
#difficultyButtons .selected{
  background-color: gray;
  color: white;
  border-color: black;
  border-style: inset;
}