/**********************************************
*** © Linguagens Script > DEIS > ISEC > IPC 
*** Jogo de Memória em React
*** Estilos para game-panel.componente.jsx 
**********************************************/

#game {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  column-gap: 2px;
  row-gap: 2px;
  justify-content: center;
  font-size: 19px;
}

#game.intermedio {
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

#game.avancado {
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
